
@font-face {
	font-family: SuiGeneris-UltraLigh; /* Гарнитура шрифта */
	src: url(/static/font/SuiGeneris-UltraLigh.ttf) format("truetype"); /* Путь к файлу со шрифтом */
}

html{
	font-family: system-ui, "Trebuchet MS", "Helvetica Neue", "Arial", sans-serif;
	font-size: 18px;
}

::selection {
	background: #b7b7ff; /* Safari */
}
::-moz-selection {
	background: #b7b7ff; /* Firefox */
}

input {
	outline:none;
}

body{
	margin:0px;
}

a{
	color: #06c;
	text-decoration: none;
	background-size: 10px 1px;
	background-repeat: repeat-x;
	background-position: 0 calc(100% - 1px);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #0066cc), color-stop(0%, rgba(255, 255, 255, 0)));
	background-image: linear-gradient(to right, #0066cc 100%, rgba(255, 255, 255, 0) 0%);
}

.link {
	color: #06c;
}

.link:hover{
	color: #C04;
}

#name-title{
	font-family: "SuiGeneris-UltraLigh", "Charter", "Georgia", "Times", serif;
	background-color: #fff;
	margin:0px;
	top: 5%;
	left: 50%;
	width: 100%;
	height: 10%;
	transform: translate(-50%, -50%);
	position: fixed;
	z-index: 100;
}

/*ФОРМА*/
input[type="text"], input[type="password"], input[type="date"] {
	font-family: "Charter", "Georgia", "Times", serif;
	border: 1px solid #06c;
	border-radius: 6px;
	height: 40px;
	padding-left: 20px;
	font-size: 0.9em;
}

input[type="submit"] {
	background-color: #06c;
	color: #eee; 
	font-weight: bold; 
	height: 40px;
	border-radius: 3px;	
	font-size: 0.7em;
	border: none;
	cursor: pointer;
	width: 100%;
}



/*ФОРМА*/
/*ФОРМА ЛОГИНА*/
.remember_me{
	font-size: 0.7em;
}

.submit_button:hover {
	transition: .25s;
	background-color: #c04;
	border:1px solid;
}

.login {
	position: absolute;
	left: 50%;
	transform: translate(-49%, 0%);
}

/*ФОРМА ЛОГИНА*/
/*ФОРМА НОВОГО ПОСТА*/

.field_title, .field{
	border: 1px solid #06c;
	border-radius: 6px;
	height: 40px;
	padding-left: 20px;
	font-size: 0.7em;
}

.post-form {
	position: absolute;
	width: 70%;
	left: 50%;
	transform: translate(-49%, 0%);
}

.post-form textarea{
	width: 100%; /* Ширина поля в процентах */
	height: 300px; /* Высота поля в пикселах */
	resize: none; /* Запрещаем изменять размер */
}
.post-form input[type="submit"]{
	width: 150px;
}

/*ФОРМА НОВОГО ПОСТА*/

.container {
	max-width: 720px;
	margin: 0 auto;
/*	padding-top:50px;
*/}


/*ABOUT ME*/

@keyframes about_me_urls{
	0%   {margin-left: -120px; opacity: 0;}
	100% {margin-left: -20px; opacity: 1;}
}

.about-me-tittle{
	margin-bottom: 10px;
	font-size: 1.4em;
	font-weight: bold;
}

.about-me-body{
	font-size: 1.2em;
}

.about-me-urls{
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin-left: -20px;
	opacity: 1;
	padding: 10px;
	font-size: 1.1em;
	display: inline-block;
	-webkit-animation-name: about_me_urls; 
	-webkit-animation-duration: 2s; 
	animation-name: about_me_urls;
	animation-duration: 2s;
}

.about-me-urls a{
	background-image: none;
}

.about-me-urls u{
	text-decoration: none;
	background-size: 10px 1px;
	background-repeat: repeat-x;
	background-position: 0 calc(100% - 1px);
	background-image: linear-gradient(to right, #06c 100%, rgba(255, 255, 255, 0) 0%);
}

.about-me-urls a:hover u{
		background-image: linear-gradient(to right, #C04 100%, rgba(255, 255, 255, 0) 0%);
} 

.about{
	padding:20px 20px;
}


/*ABOUT ME*/

.link {
	text-decoration: none;
	margin-left: 8px;
	margin-right: 8px;
}

/*МЕНЮ*/

.menu {
	font-size: 2.2em;
	cursor: pointer;
	list-style:none;
	position: fixed;
	top:1%;
	left:5%;
	z-index: 101;
}

.menu:hover {
	color: #888;
}

.menu:hover ul{
	left:0px;
}

.menu ul{
	list-style-type: none;
	position:absolute;
	left:-9999px;
	margin: 0px;
	padding: 0px;
}

.menu li{
	font-size: 0.4em;
	padding:4px;
	background-color: rgba(0,0,0,0);
	margin-top: 5px;
}

.menu li a{
	color: #000;
	white-space:nowrap;
	text-decoration:none;
	background-image: none;
	background-image: none;
}
.menu li:hover a{
	background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #000), color-stop(0%, rgba(255, 255, 255, 0)));
	background-image: linear-gradient(to right, #000 100%, rgba(255, 255, 255, 0) 0%);
}

.menu li:hover {
}
/*МЕНЮ*/


/*ВСПЛЫВАЮЩЕЕ СООБЩЕНИЕ*/
@keyframes flash_message {
	0%   {top: -5%;}
	10% {top: 3%;}
	90% {top: 3%;opacity: 1;}
	100% {top: -5%; opacity: 0;}
}

.header-message {
	position: absolute;
	width: inherit;
	font-size: 0.8em;
	padding: 10px;
	opacity: 1;
	top: -5%;
	left: 50%;
	transform: translate(-49%, -50%);

	-webkit-animation-name: flash_message; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
	animation-name: flash_message;
	animation-duration: 5s;
}

.flash-alert{
	background-color: #fee;
	color: #a94442;
}

.flash-success{
	background-color: #d9edf7;
	color: #31708f;
}


/*ПОСТ*/

.post {
	margin-bottom: 60px;
}

.post time{
	font-size: 0.9em;
	font-style: italic;
	color: #AAA;
}

.posts-list{
	padding-top: 60px;
}

.posts-list p{
	margin-top: 0px;
	margin-bottom:5px;
}


.post p{
	margin-top:10px;
	margin-bottom:20px;
}

.title-post{
	font-weight: bold;
	font-size: 1.5em;
	font-family: "Helvetica Neue", "Arial", sans-serif;	
}

.title-post a:hover {
	color: #C04;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #C04), color-stop(0%, rgba(255, 255, 255, 0)));
	background-image: linear-gradient(to right, #C04 100%, rgba(255, 255, 255, 0) 0%);
}

.settings-post{
	font-size: 0.5em;
	font-weight: normal;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
	padding: 1px;
	cursor: pointer;
	text-decoration: none;
	opacity: 0.6;
	background-color: #0000;
}

.settings-post:hover{
	transition: .3s;
	opacity: 1;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.title-post a{
	color: #222;
	background-size: 10px 2px;
	background-position: 0 92%;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #222), color-stop(0%, rgba(255, 255, 255, 0)));
	background-image: linear-gradient(to right, #222 100%, rgba(255, 255, 255, 0) 0%);
}

.body-post{
	font-size: 1.1em;
	line-height: 1.5;
	font-family: "Charter", "Georgia", "Times", serif;
	word-wrap: break-word;
}



pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, с 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ поддерживается в IE, Safari, и Firefox 3.1.*/
}

.show-more{
	margin-bottom: 60px;
}
.show-more a{
	font-size: 	1em;
	font-family: "Charter", "Georgia", "Times", serif;
}

/*ПОСТ*/

/*TOOL BAR*/
.tool-bar {
/*	position: fixed;
*/	font-family: "Charter", "Georgia", "Times", serif;
font-size: 1em;
width: 100%;
background-color: #0000;
}

.tool-bar ul{
	list-style-type: none;
	max-width: 720px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

.tool-bar li{
	float: left;
}

.tool-bar li a{
	text-shadow: none;
	display: block;
	color: #000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-image: none;	
}

.tool-bar li a:hover{
	color:#06c;
	text-decoration:underline;
}

.header__search{
	float: right;
	position: relative;
}

.header__search::after {
	pointer-events: none;
	font-family: "icomoon";
	position: absolute;
	content: "\e6d9";
	opacity: 0.3;
	font-size: 20px;
	padding: 3px 3px;
	left: 5px;
	top: 17px;
}

#find-field{
	border: 1px solid #DDD;
	border-radius: 15px;
	height: 25px;
	width: 200px;
	padding: 0 8px 0 30px;
	font: 400 13.3333px Arial;
}

.gradient {
	background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0));
}

/*TOOL BAR*/


