{% extends "base.html" %}

{% block title %}
{{post.title}}
{% endblock %}

{% block content_title %}
<div class="post post-detail">
    <time>
        <script type="text/javascript">
		    document.write(ru_date("{{ post.timestamp }}"));
        </script>
    </time>
    <p class="title-post">

    {{post.title}}

    {% if current_user.is_authenticated and current_user.username == 'ieaiaio' %}
    <button onClick='location.href="{{ url_for("posts.edit_post", slug = post.slug) }}"' class="settings-post"><i
            class="icon icon_edit"></i>Изменить
    </button>
    {% if post.is_active %}
    <button onClick='location.href="{{ url_for("posts.to_basket", slug = post.slug) }}"' class="settings-post"><i
            class="icon icon_uninstall"></i>Удалить
    </button>
    {% else %}
    <button onClick='location.href="{{ url_for("posts.restore", slug = post.slug) }}"' class="settings-post"><i
            class="icon icon_reply"></i>Восстановить
    </button>
    <button onClick='location.href="{{ url_for("posts.delete", slug = post.slug) }}"' class="settings-post"><i
            class="icon icon_uninstall"></i>Удалить навсегда
    </button>
    {% endif %}
    {% endif %}
</p>
{% endblock %}


{% block content %}
<div class="body-post">
    {{ ckeditor.load_code_theme() }}
    {{post.body | safe}}
</div>
{% endblock %}
</div>