<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles_ico.css') }}">
	<link rel="preload" href="{{ url_for('static', filename='font/charter-regular.woff2') }}" as="font" type="font/woff2">

	<script src="/static/js/moment-with-locales.js"></script>
	<script type="text/javascript">
		moment.locale('ru');
	</script>
	
	<title>
		{% block title %}
	{% endblock %} | BLOG</title>



</head>
<body>
	{% include 'includes/tool_bar.html' %}

	{% if current_user.is_authenticated and current_user.username == 'ieaiaio' %}
	<div class="menu">
		<i class="icon_admin icon_menu"></i>
		<ul>
			<li><a href="#">Панель администратора</a></li>
			<li><a href="{{ url_for('posts.create_post') }}">Создать пост</a></li>
			<li><a href="{{ url_for('logout') }}">Выход</a></li>
		</ul>
	</div>
	{% endif %}

	<div class="container">

		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		{% for category, message in messages %}
		<div class="header-message flash-{{ category }}">{{ message }} </div>
		{% endfor %}
		{% endif %}
		{% endwith %}

		{% block content_title %}

		{% endblock %}

		{% block content %}
		{% endblock %}
	</div>
</body>


</html>