<html>
<head>
    <link rel="shortcut icon" href="/static/images/icon.png" type="png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_ico.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='chosen_v1.8.7/chosen.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <link rel="preload" href="{{ url_for('static', filename='font/charter-regular.woff2') }}" as="font"
          type="font/woff2">

    <title>
        {% block title %}
        {% endblock %} | My Ambient</title>
</head>
<body>
{% include 'includes/tool_bar.html' %}

{% if current_user.is_authenticated and current_user.username == 'ieaiaio' %}
<div class="menu" id="menu">
    <div>
        <span class="icon_admin icon_open-book"></span>
        Меню
        <span id="menu_chevron-down" class="icon_admin icon_chevron-small-down"></span>
        <span id="menu_chevron-up" class="icon_admin icon_chevron-small-up"></span>
    </div>
    <ul>
        <li><a href="{{ url_for('posts.create_post') }}"><div class="menu-item">Создать заметку</div></a></li>
        <li><a href="{{ url_for('tags.all_tags') }}"><div class="menu-item">Теги</div></a></li>
        <li><a href="{{ url_for('posts.basket') }}"><div class="menu-item">Корзина</div></a></li>
        <li><a href="{{ url_for('logout') }}"><div class="menu-item">Выход</div></a></li>
    </ul>
</div>
{% endif %}

<div class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="header-message flash-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content_title %}

    {% endblock %}

    {% block content %}
    {% endblock %}
</div>
</body>

    <script src="/static/js/support.js"></script>
</html>