{% extends "base.html" %}

{% block title %}
Александр Андрухов
{% endblock %} 

{% block content_title %}


<!-- <h1 id="name-title"><center>MY AMBIENT</center></h1>
-->
<div class="about">
	<p class="about-me-tittle">
		Привет! Меня зовут Александр.
	</p>
	<div class="about-me-body">
		Живу в РнД. Изучаю языки.
		Блог сделан исключительно для заметок и идей.
	</div>
</div>

<div class="about-me-urls">
	<a class="link" href="https://twitter.com/AndrukhovAlex" target="_blank">
		<i class="icon icon_twitter"></i><u>Twitter</u>
	</a>

	<a class="link" href="https://vk.com/ld12345789" target="_blank">
		<i class="icon icon_vk"></i><u>Вконтакте</u>
	</a>

	<a class="link" href="https://t.me/saboteur_man" target="_blank">
		<i class="icon icon_paper-plane"></i><u>Телеграм</u>
	</a>

	<a class="link" href="https://github.com/AlertRED" target="_blank">
		<i class="icon icon_github"></i><u>GitHub</u>
	</a>
</div>
<br/>
{% endblock %}

{% block content %}

{% include 'includes/show_posts.html' %}

<div class="show-more">
	<a href="{{ url_for('posts.all_posts') }}">Показать еще<i class="icon icon_chevron-right"></i></a>
</div>

{% endblock %}